<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

  <!-- Enable features -->
  <featureManager>
    <feature>webProfile-7.0</feature>
  </featureManager>

  <!-- This template enables security. To get the full use of all the capabilities, a keystore and user
    registry are required. -->

  <!-- For the keystore, default keys are generated and stored in a keystore. To provide the keystore
    password, generate an encoded password using bin/securityUtility encode and add it below in the password
    attribute of the keyStore element. Then uncomment the keyStore element. -->
  <!-- <keyStore password=""/> -->

  <basicRegistry id="basic" realm="javaee7-web-tips-file-realm">
    <user name="user" password="sitoolkit1" />
    <user name="admin" password="sitoolkit1" />
    <group name="group001">
      <member name="user" />
      <member name="admin" />
    </group>
    <group name="group002">
      <member name="admin" />
    </group>
  </basicRegistry>


  <!-- To access this server from a remote client add a host attribute to the following element, e.g.
    host="*" -->
  <httpEndpoint id="defaultHttpEndpoint" httpPort="${as.port}" />

  <dataSource id="javaee7-web-tips-ds" jndiName="jdbc/javaee7-web-tips-ds">
    <jdbcDriver libraryRef="db-client-lib" />
    ${db.was-liberty.ds-properties}
  </dataSource>

  <library id="db-client-lib">
    ${db.was-liberty.fileset}
  </library>

  <webApplication id="${project.artifactId}" location="${webappDirectory}" name="${project.artifactId}"
    contextRoot="/"
  >
    <application-bnd>
      <security-role name="user">
        <group name="group001" />
      </security-role>
      <security-role name="admin">
        <user name="gjones" />
        <group name="group002" />
      </security-role>
    </application-bnd>
  </webApplication>

</server>