#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

  <!-- Enable features -->
  <featureManager>
    <feature>webProfile-7.0</feature>
  </featureManager>

  <!-- This template enables security. To get the full use of all the capabilities, a keystore and user 
    registry are required. -->

  <!-- For the keystore, default keys are generated and stored in a keystore. To provide the keystore 
    password, generate an encoded password using bin/securityUtility encode and add it below in the password 
    attribute of the keyStore element. Then uncomment the keyStore element. -->
  <!-- <keyStore password=""/> -->

  <basicRegistry id="basic" realm="${artifactId}-file-realm">
    <user name="user" password="sitoolkit1" />
    <user name="admin" password="sitoolkit1" />
    <group name="group001">
      <member name="user" />
      <member name="admin" />
    </group>
    <group name="group002">
      <member name="admin" />
    </group>
  </basicRegistry>


  <!-- To access this server from a remote client add a host attribute to the following element, e.g. 
    host="*" -->
  <httpEndpoint id="defaultHttpEndpoint" httpPort="${symbol_dollar}{as.port}" />

  <dataSource id="${artifactId}-ds" jndiName="jdbc/${artifactId}-ds" type="javax.sql.XADataSource">
    <jdbcDriver libraryRef="DerbyLib" />
    <properties.derby.client createDatabase="create" databaseName="${symbol_dollar}{db.name}"
      serverName="${symbol_dollar}{db.host}" portNumber="${symbol_dollar}{db.port}" user="${symbol_dollar}{db.username}" password="${symbol_dollar}{db.password}" />
  </dataSource>

  <library id="DerbyLib">
    <fileset dir="${symbol_dollar}{settings.localRepository}/org/apache/derby/derbyclient/${symbol_dollar}{derby.client.version}" />
  </library>

  <webApplication id="${symbol_dollar}{project.artifactId}" location="${symbol_dollar}{webappDirectory}" name="${symbol_dollar}{project.artifactId}"
    contextRoot="/"
  >
    <application-bnd>
      <security-role name="user">
        <group name="group001" />
      </security-role>
      <security-role name="admin">
        <user name="gjones" />
        <group name="group002" />
      </security-role>
    </application-bnd>
  </webApplication>

</server>